@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
--------------------------------------------------------------*/
body {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

/*------------ 1.1 Headings ------------*/
h2 {
	color: #fff;
	border-left: 10px solid #E0312F;
	font: 40px Gotham Black, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin-bottom: 10px;
	padding-left: 10px;
	text-transform: uppercase;
}

h3 {
	font: 700 28px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	text-align: center;
	text-transform: uppercase;
}

#h2-team h2 {
	border-left: none;
	text-align: center;
}
/*------------ 1.2 Body Copy ------------*/
header p {
	text-align: center;
}

#bg-hero .col-1-2 p:first-child {
	font: 60px Gotham Black, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: 900;
	padding-top: 50px;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

.col-1-2 p {
	color: #fff;
	font: 20px/24px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin-left: 20px;
	margin-top: 0;
}

.col-1-4 p {
	font: 22px/24px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	text-align: center;
}

.col-1-6 p {
	color: #fff;
	font: 600 14px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	text-align: center;
}

/*------------ 1.5 Lists ------------*/
nav ul {
	padding-left: 0;
	text-align: center;
}

nav li {
	display: inline;
}

nav li a {
	color: #fff;
	font: 700 14px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	text-decoration: none;
	text-transform: uppercase;
}

nav li a:hover {
	border-bottom: 5px solid #fff;
}

#bg-hero ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

#bg-hero li {
	margin: 30px 0;
}

#bg-hero li a {
	background-color: #fff;
	color: #212121;
	font: 700 18px Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#bg-hero li a:hover {
	background-color: #E0312F;
	color: #fff;
}

/*--------------------------------------------------------------
3.0 - CONTENT
--------------------------------------------------------------*/
/*------------ 3.1 Site Structure ------------*/
.wrapper {
	margin: 0 auto;
	width: 81%;
}

.row:after {
	/* Content MUST be here for this to work*/
	clear: both;
	content: "";
	display: table;
}

img {
	max-width: 100%;
}

figcaption {
	color: white;
}

[class*='col-'] /* Locating any class that has col- */ {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}

.f-right {
	float: right;
}

.block-center {
	float: none;
	margin: 0 auto;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.671%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.666%;
}

.col-5-6 {
	width: 83.33%;
}

.col-5-12 {
	width: 41.665%;
}

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.71%;
}

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

.col-1-9 {
	width: 11.111%;
}

.col-8-9 {
	width: 88.888%;
}

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}

.col-1-11 {
	width: 9.090%;
}

.col-10-11 {
	width: 90.9%;
}

.col-1-12 {
	width: 8.333%;
}

.col-11-12 {
	width: 91.663%;
}

/*--------------------------------------------------------------
4.0 - MEDIA
--------------------------------------------------------------*/
#bg-hero {
	background: url("../img/hero-img.jpg") no-repeat;
}
/*--------------------------------------------------------------
5.0 - UTILITIES
--------------------------------------------------------------*/
/*------------ 5.1 Background Colors ------------*/
body > header {
	background-color: #E0312F;
}

.work-bg-blk, footer {
	background-color: #212121;
}

.work-bg-gray {
	background-color: #D0D0CF;
}

@media (max-width:480px) {
	
	.wrapper {
		width: 95%;
	}
	
	.hide-sm {
		display: none;
	}
	
	.col-1-4, .col-1-2, .col-1-3, .col-1-6 {
		width: 100%;
		padding-right: 0;
	}
	
	.col-5-12 {
		width: 90%;
	}
}

/*
@media (max-width:420px) {
	.wrapper {
		width: 99%;
	}
}
*/

